@using EmployeeManager.Model
@model List<Gameweek>

@{
    ViewData["Title"] = "Kola";
}

<h1>Popis svih kola</h1>

<a asp-action="Create" class="btn btn-outline-success">Novo kolo</a>

<table style="margin-top: 20px;" class="table" id="tbl-gameweek">
    <thead class="thead-light">
    <tr>
        <th>Kolo</th>
        <th>Liga</th>
        <th>Datum početka</th>
        <th>Datum završetka</th>
        <th>Broj utakmica</th>
        <th>Student</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrdinalNumber</td>
            <td>@item.League.Name</td>
            <td>@item.StartDate.ToString("MM.dd.yyyy")</td>
            <td>@item.EndDate.ToString("MM.dd.yyyy")</td>
            <td>@item.NumberOfGames</td>
            <td>@item.Student.FullName</td>
        </tr>
    }
    </tbody>
</table>