@using EmployeeManager.Model
@model List<Student>

<table style="margin-top: 20px;" class="table table-condensed" id="tbl-clients">
	<thead>
		<tr>
			<th>Student</th>
			<th>Email</th>
			<th>Grad</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id">@item.FullName</a>
			</td>
			<td>@item.Email</td>
			<td>@item.City.Name</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
			</td>
		</tr>
		}
	</tbody>
</table>

