<h1 style="margin-bottom: 20px">@ViewBag.Title</h1>

<h3 style="margin-bottom: 40px">@ViewBag.Message</h3>

        <div class="card col-5 box-shadow p-2">
            <div class="card-body">
                <h4 style="margin-bottom: 15px">@ViewBag.Title</h4>
                <p class="card-text"><strong>@ViewBag.Address</strong>: Neka ulica 1, 10000 Zagreb</p>
                <p class="card-text"><strong>@ViewBag.Phone</strong>: +385 (0)1 1234 567</p>
                <p class="card-text"><strong>Email:</strong> quickfootballdata@mail.com</p>
            </div>
        </div>